@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400&display=swap");

a {
  color: #fff !important;
}

p {
  margin: 0;
}

section {
  padding: 60px 0px;
}

/* Header section */

header {
  height: 100%;
  height: 100vh;
  background: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
    url("../images/header-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

header > .container {
  position: relative;
  height: 100%;
  padding: 0;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: ease-in-out 0.6s;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.hamburger-menu {
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  /* background-color: #101d2c; */
  border-radius: 4px;
  cursor: pointer;
}

.hamburger-menu {
  font-size: 30px;
  color: rgba(198, 153, 99, 0.7);
  margin: auto;
  z-index: 2;
}

.hamburger-menu .fa-times {
  display: none;
}

.hamburger-menu .fa-times.open {
  display: block;
}

.hamburger-menu .fa-bars.open {
  display: none;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #101d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 650ms;
  z-index: 1;
}

.nav-list.open {
  opacity: 1;
  transform: scale(1);
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 45%);
  text-align: center;
}

.hero-text h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
}

.btn {
  width: 100px;
  padding: 5px 0px !important;
  border: 1px solid #c69963;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 650ms;
}

.btn:hover::before {
  left: 100%;
}

/* About section */
.section-heading h4 {
  text-transform: uppercase;
  color: #101d2c;
  line-height: 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.section-heading h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
}

.about .btn {
  width: 150px;
  color: #c69963 !important;
  transition: background-color 650ms;
}

.about .btn:hover {
  color: #fff !important;
  background-color: #c69963;
}

/* Menu section */

.menu {
  color: #fff !important;
  background-color: #101d2c;
}

.shop-info svg,
.shop-info i {
  color: #c69963 !important;
  font-size: 50px !important;
}

.shop-info h1 {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.shop-info p,
.shop-info address {
  color: rgba(255, 255, 255, 0.5);
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (min-width: 576px) {
  .navbar-brand {
    max-width: 150px;
  }

  .hamburger-menu {
    top: 35px;
    right: 25px;
  }
}

@media (min-width: 768px) {
  .btn {
    width: 150px;
  }
}

@media (min-width: 992px) {
  header > .container {
    padding: 0 15px;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar-brand {
    position: initial;
    transform: initial;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
    flex-direction: row;
    opacity: initial;
    transform: initial;
    transition: initial;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin: 0 30px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    position: relative;
    padding: 0;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #c69963;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transform-origin: left;
    transition: transform 650ms;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }
}
