a {
  color: #fff !important;
}

p {
  margin: 0;
}

header {
  height: 100%;
  height: 100vh;
  background: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
    url("images/header-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

header > .container {
  position: relative;
  height: 100%;
  padding: 0;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: ease-in-out 0.6s;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.hamburger-menu {
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  /* background-color: #101d2c; */
  border-radius: 4px;
  cursor: pointer;
}

.hamburger-menu {
  font-size: 30px;
  color: rgba(198, 153, 99, 0.7);
  margin: auto;
  z-index: 2;
}

.hamburger-menu .fa-times {
  display: none;
}

.hamburger-menu .fa-times.open {
  display: block;
}

.hamburger-menu .fa-bars.open {
  display: none;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #101d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 650ms;
  z-index: 1;
}

.nav-list.open {
  opacity: 1;
  transform: scale(1);
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 45%);
  text-align: center;
}

.hero-text h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
}

.btn {
  width: 100px;
  padding: 5px 0px !important;
  border: 1px solid #c69963;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 650ms;
}

.btn:hover::before {
  left: 100%;
}
